@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #dae1e3;
  color: black;
  transition: background 1s;
  max-width: 100vw;
  overflow-x: hidden;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark .header {
  background-color: #dae1e3;
}

.dark .navbar a {
  color: #000;
}

.dark a {
  color: #fff;
}

.dark .profile-pic img {
  border-color: #333;
}

.dark .description h1,
.dark .description p,
.dark .description a {
  color: #fff;
}

.dark .footer {
  background-color: #dae1e3;
}

.dark .footer h2,
.dark .footer a,
.dark .footer p {
  color: black;
}

.dark .project-card {
  background-color: #fff;
  color: #000;
}

.dark .project-card a {
  color: black;
}

.dark .footer{
  color: #000;
}

.dark .fa-whatsapp {
  color: green
}

.header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.header .navbar {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}

.navbar2 {
  width: 100%;
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;
  max-width: 100%;
}

.about {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: end;
}

.description {
  flex: 1;
  text-align: left;
  margin-top: 10rem;
}

.description h1,
.description p,
.description a {
  padding: 20px;
  color: black;
  font-size: 25px;
}

.profile-pic {
  flex: 1;
  max-width: 50vh;
  max-height: 50vh;
  text-align: right;
}

.profile-pic img {
  max-width: 50vh;
  max-height: 50vh;
  margin-right: 30rem;
  margin-top: 5rem;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: 1s;
}

.projects {
  margin-top: 20rem;
  text-align: center;
  height: 60rem;
}

.projects h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.project-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-card {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 500px;
  height: 500px;
  transition: transform 0.3s;
}


.project-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  text-decoration: none;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  margin-bottom: 10px;
}

.project-info p {
  text-align: justify;
  margin-bottom: 15px;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-fit: cover;
  margin-top: 10px;
}
.project-links i{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.project-links img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.project-links a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.project-links a:hover {
  text-decoration: underline;
}

.project-card:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 100px;
  margin-top: 20px;
}

.footer h2 {
  margin-bottom: 100px;
}

.fa-whatsapp {
  margin-right: 25px;
  font-size: 2.1rem;
  color: #25d366;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.contact-links img {
  width: 2rem;
  border-radius: 50%;
}

.contact-item {
  text-align: center;
  margin: 0 20px;
}

.label {
  background-color: #333;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 25px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.4s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox {
  display: none;
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: yellow;
}



@media (max-width: 768px) {
  * {
    max-width: 100%;
  }

  .header {
    padding: 0.5rem;
  }

  .header .navbar,
  .header .navbar2 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .container {
    padding: 8px;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
    padding: 6px;
    margin-top: 10rem;
  }

  .profile-pic {
    max-width: 15rem;
    max-height: 15rem;
    border-radius:50%;
    margin-top:5rem;
  }

  .profile-pic img {
    max-width: 15rem;
    max-height: 15rem;
    border-radius:50%;
    margin-right: 0;
  }

  .projects {
    margin-top: 30px;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    border: 1px solid black;
    border-radius: 20px;
    width: calc(100% - 20px);
    
  }

  .footer {
    height: 90%;
    width: 100%;
   margin-top: 150vh;
    padding: 5px;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    margin-bottom: 1rem;
  }

  .contact-links a {
    font-size: 14px;
  }

  .contact-links img {
    width: 2rem;
  }

  .contact-links strong {
    
    margin-left: 0;
  }
}